.ui.inverted.top.menu
  .container
    %a.title.item.sidebar-toggle-button.top-sidebar-toggle-button
      %svg{:version => "1.1", :viewbox => "0 0 14 12", :width => "20px", :height => "18px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
        %title menu
        %g#menu
          %path#a{:d => "M0,0v2h14V0H0z"}
          %path#b{:d => "M0,5v2h14V5H0z"}
          %path#c{:d => "M0,10v2h14v-2H0z"}
    %a.logo{:href => root_path}= app_logo

    .right.menu
      .show-on-desktop.top-menu-items
        = render 'partials/top_menu_items'
      - if current_user
        .hide-on-phone
          .ui.pointing.dropdown.link.item
            .ui.avatar.image= image_tag current_user.avatar(100)
            = current_user.name
            %i.angle.down.icon
            .menu
              = render 'partials/user_menu'
      - else
        .hide-on-phone
          = render 'partials/facebook_login_button'
